<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TextBlaze to Espanso migration tool</title>
  <link rel="stylesheet" href="/assets/css/custom.css">
  <meta name="google-site-verification" content="6hnwKxBi35VXPvtMUjPYONbtVVB63QFQ7-73luK6c4Y"/>
  <link rel="stylesheet" href="/_layouts/css/content.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css">
</head>
<header>
  <p>Check out the repository on <a href="https://github.com/makeyouswag/TextBlazeToEspanso">GitHub</a></p>
</header>
<body>
  <div class="markdown-body">
    {{ content }}
  </div>
</body>
</html>
